window {
border: 2px solid #33ccff;
border-radius: 8px;
background-color: rgba(40, 42, 54, 0.98);
}

#input {
margin: 3px;
border: none;
color: #d8dee9;
background-color: rgba(68, 71, 90, 0.6);
}

#inner-box {
margin: 3px;
border: none;
}

#outer-box {
margin: 5px;
border: none;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #f8f8f2;
}

#entry:selected {
background-color: rgba(68, 71, 90, 0.6);
}
